<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome Page</title>
<link th:href="@{/css/background.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/css/dashboard.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="header">
<!-- 	<div class="headertext"><h1>Go Live!!</h1></div> -->
<div class="headertext">
<img src="images/logo.jpg" alt="logo" /></div>
	<div class="homeDiv">
	<form action="/home" method="post">               
		<input class="headerbutton" type="submit" value="Home"/>
		<input type="hidden" name="hidden" th:value="${user}"/>
	</form></div>
	<div class="logoutDiv">
	<form action="/logout" method="post">               
		<input class="headerbutton" type="submit" value="Logout"/>
		<input type="hidden" name="hidden" th:value="${user}"/>
	</form></div>
</div>
<p class="welcomeuser" th:text="'Welcome '+${user}+' Lets create a playlist!!!'"></p>
	<div class = "searchBar">
	  <form action="/search" method="post">
				<input type="text" name="searchInput" value="Search Track"/>
				<input type="hidden" name="hidden" th:value="${user}"/>
				<input class="dashbtn" type="submit" value="Search"/>
		</form>
	</div>
	<div class = "addTrack">
	
	
	</div>
</body>
</html>


	      